body.admin form input[type='submit']
{
	padding: 5px 14px; 
	color: #333; 
	background: #e7e7e0; 
	border: 1px solid #c8c8bd;
	font-size:14px; 
	margin: 20px 0px;
}

body.admin form table
{
	margin: auto;
	width: 950px;
}

@media screen and (max-width: 1000px) and (min-width: 800px)
{
	body.admin form table
	{
		width: 800px;
	}
}

@media screen and (max-width: 800px) and (min-width: 400px)
{
	body.admin form table
	{
		width: 350px;
	}
}

body.admin form input,body.admin form textarea
{
	width: 100%;
	box-sizing: border-box;
}